# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
.DS_Store

# Android Studio
.idea/
*.iml
*.iws
*.ipr
out/
.navigation
capture_settings.xml

# Keystore files
*.jks
*.keystore
*.p12

# OS-specific files
Thumbs.db

# Kotlin/Java class files
*.class
*.jar
*.war
*.rar
*.zip

# Maven
target/
*.pom
